<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/cotizacion.css">
    
</head>
<body>
    <div class="container">
        <center>
            <h1>Cotizacion</h1>
            <form action="/cotizacion" method="post">
                <label for="">valor del automovil</label>
                <input type="number" name="valor" id="valor" required="true">
                <br>
                <label for="">Porcentaje de pago inicial</label>
                <select name="pInicial" id="pInicial">
                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select>
            <br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
                <option value="60">60 meses</option>
                <option value="72">72 meses</option>
            </select>
            <button class="btn btn-primary" style="margin-top: 15px;" type="submit">Enviar</button>
            </form>
        </center>
    </div>
    <% 
    if(valor!=0){
        let pagoInicial=0;
        let totalFin=0;
        let pagoMensual=0; 
    }
        pagoInicial= valor*(pInicial/100);
        totalFin = valor-pagoInicial;
        pagoMensual=totalFin/plazos; 
    %>
    <div class="resumen">
        <center>
   
    <br>
    <h3>Resumen de la cotizacion</h3>
    <img src="./img/carro.jpg" alt="">
    <br>
    <br>
    Valor del automovil: <%=valor%>
    <br>
    Porcentaje de pago Inicial: <%=pInicial%>
    <br>
    Plazos: <%=plazos%> 
    <br>
    Pago inicial: <%=pagoInicial%>
    <br>
    Total a financiar: <%=totalFin%>
    <br>
    Pago mensual: <%=pagoMensual%>
    <br>
        </center>
    </div>
        <center>
        <footer> Alondra Guadalupe Soto Osuna |  2020030316</footer>
        </center>
</body> 
</html>