<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practicas 01 EJS</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <center>
    <h1><%=titulo%></h1>
    <img src="./img/logoUpsin.png" alt="">
   
    <table class="table table-hover" >
        <tr>
            <th> matricula</th>
            <th> nombre</th>
            <th> sexo</th>
            <th> materias</th>
        </tr>
    <% for(alumno of listado ){ %>
        <tr>
            <td><%=alumno.matricula%></td>
            <td><%=alumno.nombre%></td>
            <td><%=alumno.sexo%></td>
            <td><%=alumno.materias%></td>
        </tr>
    <% 
    }
    %>
    </table>
    </center>
</div>
</body>
</html>